name: Make helper containers
on:
  schedule:
    - cron:  '0 2 ? * SUN'
  workflow_dispatch:
  push:
jobs:
  build:
    name: Build Fedora-based development containers
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      actions: write
    steps:
      - name: Get current date
        id: date
        run: echo "TODAY=$(date +'%Y%m%d')" >> $GITHUB_ENV
      - name: Generate version string
        id: versionstring
        run: echo "THIS_TAG=${{ env.TODAY }}.0.${{ github.run_number }}" >> $GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create tag
        uses: actions/github-script@v3
        with:
          github-token: ${{ github.token }}
          script: |
            github.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: `refs/tags/${process.env.THIS_TAG}`,
              sha: context.sha
            })
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - 
        name: Build container
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64
          push: true
          context: .
          build-args: |
            USERNAME=dev
          tags: |
            ghcr.io/widumu/kde-devel-container:latest
            ghcr.io/widumu/kde-devel-container:${{ env.THIS_TAG }}
            # widumu/kde-devel-container:latest
            # widumu/kde-devel-container:${{ env.TODAY }}.0.${{ github.run_number }}